---
import Layout from '@/layouts/Layout.astro';
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import Stack from '@/components/Stack.astro';
---

<Layout title="gevorah">
  <main>
    <Hero />
    <Experience />
    <Stack />
  </main>
</Layout>
