---
import Layout from '../layouts/Layout.astro';
---

<Layout title="gevorah">
	<main>
		<h1>Jhon Ijaji</h1>
    <h2>Software Engineer</h2>
		<p>
			Over a year of experience in web development. Passionate about crafting impactful solutions.
		</p>
	</main>
</Layout>
