---
import Section from '@/components/Section.astro'
---

<Section id="about-me" title='About me'>
  <p class="text-sm sm:text-base">
    I'm a Software Engineer and Frontend Developer with over a year of experience 
    in crafting innovative solutions. Passionate about the dynamic realm of web development, 
    I have explored various leading software development tools. My innate curiosity and 
    quick adaptability ensure I stay at the forefront of industry trends and 
    technologies. I seamlessly integrate into collaborative teams, navigating diverse 
    challenges with poise to contribute to the success of projects. Let's work together.
  </p>
</Section>