<footer class="py-12">
    <p class="text-center">
      © 2024 gevorah.<br/>
      Built with 
      <a href="https://astro.build/" class="text-dim-blue hover:text-normal-blue" target="_blank" rel="noopener noreferrer">Astro</a> 
      & 
      <a href="https://tailwindcss.com" class="text-dim-blue hover:text-normal-blue" target="_blank" rel="noopener noreferrer">Tailwind CSS</a>. 
      Hosted on 
      <a href="https://vercel.com/" class="text-dim-blue hover:text-normal-blue" target="_blank" rel="noopener noreferrer">Vercel</a>.
    </p>
</footer>
