---
import Section from '@/components/Section.astro'
import Greet from '@/components/Greet.astro';
---
<Section>
  <div class="flex flex-col w-full h-full gap-3 p-6 bg-secondary dark:bg-primary rounded-xl shadow-lg font-mono">
    <div class="font-light text-sm sm:text-base inline-block">
      <span class="text-dim-purple dark:text-normal-purple font-bold">gevorah</span>
      in
      <span class="font-bold text-dim-blue dark:text-normal-blue">~</span>
      <span class="font-bold text-dim-green dark:text-normal-green">&#x276F;</span>
      <span class="font-bold">greet</span>
    </div>
    <Greet />
    <div class="font-light text-sm sm:text-base inline-block">
      <span class="text-dim-purple dark:text-normal-purple font-bold">gevorah</span>
      in
      <span class="font-bold text-dim-blue dark:text-normal-blue">~</span>
      <span class="font-bold text-dim-yellow dark:text-normal-yellow">took 1s</span>
      <span class="font-bold text-dim-green dark:text-normal-green">&#x276F;</span>
      {/*<input class="hidden w-fit bg-transparent caret-transparent border-none focus-visible:outline-none" />*/}
      <span class="animate-ping">&block;</span>
    </div>
  </div>
</Section>