---
import ThemeToggle from "./ThemeToggle";
import { Button, buttonVariants } from "./ui/Button";
import GitHubIcon from '@/icons/GitHub.astro';
import LinkedInIcon from '@/icons/LinkedIn.astro';

const linkClass = buttonVariants({variant: "outlined", size: "icon"})
---

<header class="sticky top-0 z-50 bg-secondary-2 dark:bg-primary-hard border-b border-b-primary-hard dark:border-b-secondary-2">
  <nav class="relative flex justify-between items-center w-full h-16 px-1.5 md:px-4">
    <div class="md:hidden">
      <Button variant="outlined" size="icon" className="flex md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </Button>
      <div class=""></div>
    </div>
    <div class="flex flex-row justify-center items-center gap-x-6">
      <a class="font-bold text-primary dark:text-secondary" href="/">gevorah.dev</a>
      <div class="hidden md:flex items-center gap-x-6">
        <a class="text-base text-primary-3 hover:text-primary dark:text-secondary-3 dark:hover:text-secondary transition-colors" href="#Home">Home</a>
        <a class="text-base text-primary-3 hover:text-primary dark:text-secondary-3 dark:hover:text-secondary transition-colors" href="#AboutMe">About</a>
        <a class="text-base text-primary-3 hover:text-primary dark:text-secondary-3 dark:hover:text-secondary transition-colors" href="#Projects">Projects</a>
      </div>
    </div>
    <div class="flex h-full items-center">
      <a class={linkClass} href="https://www.linkedin.com/in/gevorah"  target="_blank" rel="noopener noreferrer">
        <LinkedInIcon class="w-6 h-6 text-primary dark:text-secondary" />
      </a>
      <a class={linkClass} href="https://www.github.com/gevorah"  target="_blank" rel="noopener noreferrer">
        <GitHubIcon class="w-6 h-6 text-primary dark:text-secondary" />
      </a>
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
